! pip install yfinance --upgrade --no-cache-dir

In [26]:
import yfinance as yf
import pandas as pd
import numpy as np

In [37]:
# Informaci√≥n
ticker= ['TSLA', 'MSFT', 'AAPL', 'BABA', 'FB', 'GOOGL', 'AMZN', "SPY"] 

closes=[]

for x in range(len(ticker)):
    data = yf.Ticker(ticker[x])
    hist = data.history(period="10y")
    hist=hist['Close']
    closes.append(hist)
    
data=pd.DataFrame(closes).T
#data

In [38]:
data.columns = ['TSLA', 'MSFT', 'AAPL', 'BABA', 'FB', 'GOOGL', 'AMZN', "SPY"] 
daily_closes=data
#daily_closes

In [39]:
daily_logret = np.log(daily_closes/daily_closes.shift()).dropna()
daily_logret.to_csv("daily_logret.csv")
#daily_logret

In [40]:
# Podemos resumir en un DataFrame
daily_ret_summary = pd.DataFrame(index=['Media Diaria 2014-2020', 'Volatilidad Diaria 2014-2020'], columns=ticker)
daily_ret_summary.loc['Media Diaria 2014-2020']=daily_logret.mean()
daily_ret_summary.loc['Volatilidad Diaria 2014-2020']=daily_logret.std()
daily_ret_summary.to_csv("daily_ret_summary.csv")
#daily_ret_summary

In [41]:
# Resumen en base anual
annual_ret_summary = pd.DataFrame(index=['Media Anual 2014-2020', 'Vol Anual 2014-2020'], columns=ticker)
annual_ret_summary.loc['Media Anual 2014-2020']=daily_logret.mean()*252
annual_ret_summary.loc['Vol Anual 2014-2020']=daily_logret.std()*np.sqrt(252)
annual_ret_summary.to_csv("annual_ret.csv")
annual_ret_summary

,TSLA,MSFT,AAPL,BABA,FB,GOOGL,AMZN,SPY
Media Anual 2014-2020,0.1015,0.235318,0.176864,0.126469,0.128124,0.110811,0.317738,0.0610001
Vol Anual 2014-2020,0.505711,0.269999,0.280037,0.324133,0.305755,0.257959,0.298792,0.177226

In [42]:
cov=daily_logret.cov()
cov.to_csv("cov.csv")
cov

,TSLA,MSFT,AAPL,BABA,FB,GOOGL,AMZN,SPY
TSLA,0.001015,0.000207,0.000203,0.000206,0.000213,0.000185,0.000201,0.000154
MSFT,0.000207,0.000289,0.000202,0.000171,0.000196,0.000199,0.000199,0.000155
AAPL,0.000203,0.000202,0.000311,0.000169,0.000187,0.000176,0.000174,0.000148
BABA,0.000206,0.000171,0.000169,0.000417,0.000182,0.000168,0.000182,0.000121
FB,0.000213,0.000196,0.000187,0.000182,0.000371,0.000206,0.000209,0.000135
GOOGL,0.000185,0.000199,0.000176,0.000168,0.000206,0.000264,0.000202,0.000132
AMZN,0.000201,0.000199,0.000174,0.000182,0.000209,0.000202,0.000354,0.000123
SPY,0.000154,0.000155,0.000148,0.000121,0.000135,0.000132,0.000123,0.000125

In [43]:
corr=daily_logret.corr()
corr.to_csv("corr.csv")
corr

,TSLA,MSFT,AAPL,BABA,FB,GOOGL,AMZN,SPY
TSLA,1.000000,0.382736,0.361737,0.316205,0.347388,0.357801,0.335433,0.434084
MSFT,0.382736,1.000000,0.671599,0.491728,0.599808,0.719965,0.622860,0.814711
AAPL,0.361737,0.671599,1.000000,0.469035,0.549444,0.613315,0.523444,0.752683
BABA,0.316205,0.491728,0.469035,1.000000,0.462427,0.506698,0.473428,0.530313
FB,0.347388,0.599808,0.549444,0.462427,1.000000,0.658000,0.576874,0.627901
GOOGL,0.357801,0.719965,0.613315,0.506698,0.658000,1.000000,0.659007,0.728354
AMZN,0.335433,0.622860,0.523444,0.473428,0.576874,0.659007,1.000000,0.586326
SPY,0.434084,0.814711,0.752683,0.530313,0.627901,0.728354,0.586326,1.000000